<h1 class="text-3xl text-yellow-300 mb-4">{{ title }}</h1>
<p class="text-lg mb-8 text-indigo-200 italic">{{ synopsis }}</p>

{{ if {locales:count} > 1 }}
<div class="bg-gray-900 border border-indigo-600 rounded-lg p-4 mb-8">
  <ul>
    {{ locales }}
      <li><a href="{{ url }}" class="hover:underline">
        {{ if locale:handle == site:handle }}
          <strike>View in {{ locale:name }}</strike>
        {{ else }}
          View in {{ locale:name }}
        {{ /if }}
      </a></li>
    {{ /locales }}
  </ul>
</div>
{{ else }}
<div class="w-full border-t border-dashed py-8" />
{{ /if }}

{{ content }}

<div class="w-full border-t border-dashed py-8 mt-8" />

<h4 class="text-indigo-300 font-medium uppercase">
  {{ trans:news.related }}
</h4>
<ul class="list-disc">
  {{ collection:news }}
    {{ if url !== current_uri }}
    <li><a href="{{ url }}" class="text-blue-300 hover:underline">{{ title }}</a></li>
    {{ /if }}
  {{ /collection:news }}
</ul>
